<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xzbd.mail.dao.BiEmailSheetConfigDao">

	<select id="get" resultType="com.xzbd.mail.domain.BiEmailSheetConfigDO">
		select `id`,`sheet_name`,`titles`,`coloums`,`q_sql`,`data_source`,`nodata_deal`,`data_range`,`del`,`create_time`,`create_man`,`last_option_man`,`last_option_time`,`memo_1`,`memo_2`,`memo_3` from bi_email_sheet_config where id = #{value}
	</select>

	<select id="list" resultType="com.xzbd.mail.domain.BiEmailSheetConfigDO">
		select `id`,`sheet_name`,`titles`,`coloums`,`q_sql`,`data_source`,`nodata_deal`,`data_range`,`del`,`create_time`,`create_man`,`last_option_man`,`last_option_time`,`memo_1`,`memo_2`,`memo_3` from bi_email_sheet_config
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="sheetName != null and sheetName != ''"> and sheet_name = #{sheetName} </if>
		  		  <if test="titles != null and titles != ''"> and titles = #{titles} </if>
		  		  <if test="coloums != null and coloums != ''"> and coloums = #{coloums} </if>
		  		  <if test="qSql != null and qSql != ''"> and q_sql = #{qSql} </if>
		  		  <if test="dataSource != null and dataSource != ''"> and data_source = #{dataSource} </if>
		  		  <if test="nodataDeal != null and nodataDeal != ''"> and nodata_deal = #{nodataDeal} </if>
		  		  <if test="dataRange != null and dataRange != ''"> and data_range = #{dataRange} </if>
		  		  <if test="del != null "> and del = #{del} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createMan != null and createMan != ''"> and create_man = #{createMan} </if>
		  		  <if test="lastOptionMan != null and lastOptionMan != ''"> and last_option_man = #{lastOptionMan} </if>
		  		  <if test="lastOptionTime != null and lastOptionTime != ''"> and last_option_time = #{lastOptionTime} </if>
		  		  <if test="memo1 != null and memo1 != ''"> and memo_1 = #{memo1} </if>
		  		  <if test="memo2 != null and memo2 != ''"> and memo_2 = #{memo2} </if>
		  		  <if test="memo3 != null and memo3 != ''"> and memo_3 = #{memo3} </if>

			<if test="searchName != null and searchName != ''">
				and
				(
				sheet_name like '%${searchName}%'
				or titles like '%${searchName}%'
				or coloums like '%${searchName}%'
				or q_sql like '%${searchName}%'
				)
			</if>

		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from bi_email_sheet_config
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="sheetName != null and sheetName != ''"> and sheet_name = #{sheetName} </if>
		  		  <if test="titles != null and titles != ''"> and titles = #{titles} </if>
		  		  <if test="coloums != null and coloums != ''"> and coloums = #{coloums} </if>
		  		  <if test="qSql != null and qSql != ''"> and q_sql = #{qSql} </if>
		  		  <if test="dataSource != null and dataSource != ''"> and data_source = #{dataSource} </if>
		  		  <if test="nodataDeal != null and nodataDeal != ''"> and nodata_deal = #{nodataDeal} </if>
		  		  <if test="dataRange != null and dataRange != ''"> and data_range = #{dataRange} </if>
		  		  <if test="del != null "> and del = #{del} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createMan != null and createMan != ''"> and create_man = #{createMan} </if>
		  		  <if test="lastOptionMan != null and lastOptionMan != ''"> and last_option_man = #{lastOptionMan} </if>
		  		  <if test="lastOptionTime != null and lastOptionTime != ''"> and last_option_time = #{lastOptionTime} </if>
		  		  <if test="memo1 != null and memo1 != ''"> and memo_1 = #{memo1} </if>
		  		  <if test="memo2 != null and memo2 != ''"> and memo_2 = #{memo2} </if>
		  		  <if test="memo3 != null and memo3 != ''"> and memo_3 = #{memo3} </if>

			 <if test="searchName != null and searchName != ''">
				 and
				 (
				 sheet_name like '%${searchName}%'
				 or titles like '%${searchName}%'
				 or coloums like '%${searchName}%'
				 or q_sql like '%${searchName}%'
				 )
			 </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.xzbd.mail.domain.BiEmailSheetConfigDO" useGeneratedKeys="true" keyProperty="id">
		insert into bi_email_sheet_config
		(
			`sheet_name`, 
			`titles`, 
			`coloums`, 
			`q_sql`, 
			`data_source`, 
			`nodata_deal`, 
			`data_range`, 
			`del`, 
			`create_time`, 
			`create_man`, 
			`last_option_man`, 
			`last_option_time`, 
			`memo_1`, 
			`memo_2`, 
			`memo_3`
		)
		values
		(
			#{sheetName}, 
			#{titles}, 
			#{coloums}, 
			#{qSql}, 
			#{dataSource}, 
			#{nodataDeal}, 
			#{dataRange}, 
			#{del}, 
			#{createTime}, 
			#{createMan}, 
			#{lastOptionMan}, 
			#{lastOptionTime}, 
			#{memo1}, 
			#{memo2}, 
			#{memo3}
		)
	</insert>
	 
	<update id="update" parameterType="com.xzbd.mail.domain.BiEmailSheetConfigDO">
		update bi_email_sheet_config 
		<set>
			<if test="sheetName != null">`sheet_name` = #{sheetName}, </if>
			<if test="titles != null">`titles` = #{titles}, </if>
			<if test="coloums != null">`coloums` = #{coloums}, </if>
			<if test="qSql != null">`q_sql` = #{qSql}, </if>
			<if test="dataSource != null">`data_source` = #{dataSource}, </if>
			<if test="nodataDeal != null">`nodata_deal` = #{nodataDeal}, </if>
			<if test="dataRange != null">`data_range` = #{dataRange}, </if>
			<if test="del != null">`del` = #{del}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createMan != null">`create_man` = #{createMan}, </if>
			<if test="lastOptionMan != null">`last_option_man` = #{lastOptionMan}, </if>
			<if test="lastOptionTime != null">`last_option_time` = #{lastOptionTime}, </if>
			<if test="memo1 != null">`memo_1` = #{memo1}, </if>
			<if test="memo2 != null">`memo_2` = #{memo2}, </if>
			<if test="memo3 != null">`memo_3` = #{memo3}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from bi_email_sheet_config where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from bi_email_sheet_config where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>