<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" type="text/css" href="/css/plugins/multiselect/bootstrap-multiselect.css">
<link rel="stylesheet" type="text/css" href="/js/plugins/cronGenerator/font/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/js/plugins/cronGenerator/cronGen.css">
<style  type="text/css">
div.popover.fade.in{
    height:400px;
}
div.popover.fade.in > .arrow{
    top:42%;
}
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${biEmailJobConfig.id}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">任务名称：</label>
                            <div class="col-sm-8">
                                <input id="jobName"  th:value="${biEmailJobConfig.jobName}" name="jobName" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">任务描述：</label>
                            <div class="col-sm-8">
                                <input id="jobDesc"  th:value="${biEmailJobConfig.jobDesc}" name="jobDesc" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">发送周期：</label>
                            <div class="col-sm-8">
                                <input id="cronExpression"  th:value="${biEmailJobConfig.cronExpression}"
                                       name="cronExpression" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">邮件主题：</label>
                            <div class="col-sm-8">
                                <input id="subject"  th:value="${biEmailJobConfig.subject}" name="subject" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">发件人邮箱：</label>
                            <div class="col-sm-8">
                                <!-- <input id="emailSenderId"  th:value="${biEmailJobConfig.emailSenderId}" name="emailSenderId" class="form-control" type="text"> -->
                                <select id="emailSenderId"  name="emailSenderId"  class="form-control"  required>
                                    <option value="" selected>请选择</option>
                                    <option th:selected="${biEmailJobConfig.emailSenderId == sender.id}"
                                            th:each="sender:${seders}"  th:value="${sender.id}" th:text="${sender.emailName}"></option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">收件人邮箱地址：</label>
                            <div class="col-sm-8">
                                <input type="hidden" id="sendToHidenId" th:value="${biEmailJobConfig.sendTo}">
                                <select multiple="multiple" id="sendTo" name="sendTo" class="form-control" ></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">抄送人邮箱地址：</label>
                            <div class="col-sm-8">
                                <input type="hidden" id="ccHidenId" th:value="${biEmailJobConfig.cc}">
                                <select id="cc" multiple="multiple"   name="cc" class="form-control" ></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密送人邮箱地址：</label>
                            <div class="col-sm-8">
                                <input type="hidden" id="bccHidenId" th:value="${biEmailJobConfig.bcc}">
                                <select multiple="multiple"  id="bcc" name="bcc" class="form-control"></select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">邮箱内容：</label>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label col-sm-offset-3">Text内容：</label>
                            <select multiple="multiple"  id="textEmailContentId" name="textEmailContentIds" class="form-control col-sm-offset-3">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-sm-offset-3">Excel内容：</label>
                            <select  multiple="multiple"   id="excelEmailContentId" name="excelEmailContentIds" class="form-control col-sm-offset-3">
                            </select>
                        </div>

               <!--         <div class="form-group">
                            <label class="col-sm-3 control-label">是否单表大数据邮件：</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" th:checked="${biEmailJobConfig.memo1 eq '1' }" name="memo1" value="1" > 否
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" th:checked="${biEmailJobConfig.memo1 eq '2' }" name="memo1" value="2"> 是
                                </label>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="/js/plugins/cronGenerator/cronGen.min.js"></script>
<script type="text/javascript" src="/js/appjs/mail/biEmailJobConfig/edit.js">
</script>
</body>
</html>
